<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cat Portfolio </title>
</head>
<body>
</body>
</html>
</html>
<!DOCTYPE html>
<html>	
	<head>			
	</head>			
	<body>		
		<html lang="en">
			<title>Page Title</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			/* Style the body */
			body {
				font-family: Arial;
				margin: 0;
				background-image: url('https://64.media.tumblr.com/c0e23fe2d07dad2c7f75f41f1eada374/6f72a86996fafb07-1b/s250x400/c7c84417e5de4523528f7eb989fba4705f49f062.jpg') ;	
			}/* Page Content */
			.content {
				padding:10px;
			}/*this is the logo*/
	</style>
	<center>	
		<img src=https://64.media.tumblr.com/7ad5d53204e9d5ddd5b249d92329ad96/8071c19c8701a9ba-fa/s1280x1920/88634b91ecf81aed88fc2d3b0d28301ebbc1c377.png>
	</center>	
	<style>
	#vcontainer {
		display: table;
		height: 100%;
		width: 100%;
		min-height: 400px;
	}
	#hcontainer {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}#content {
		display: inline-block;
		border: red 20px solid;
		background-color: #fcf8ea  ;
		text-align: center ;
		font-size: 20px;  
		width: 800px;
		height: 15000px;
	} 
	</style>

	<style>
	.button {
		background-color: #9cd92a; /* Green */
		border: none;
		color: white;
		padding: 10px 60px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 2px 2px;
		cursor: pointer;
	}
	</style> 
	<div id="vcontainer">
		<div id="hcontainer">  
			<div id="content">  
				<center>	
	            <h1> Portfolio At End Date: </h1>
	            <h3>
		        <% for(var i = 0; i<portfolio.length; i++){ %>
		        <h3><%= portfolio[i] %></h3>
	                <% } %>
	            </h3>
	
                <h1> Portfolio Cash Value: </h1>
	            <h3><%= final_value %></h3>
                <h1> Initial Balance: </h1>
	            <h3><%= start_value %></h3>
                <h1> Total Profit/Loss: </h1>
                <%if(percent>0){%>
	                <h3 style="color:green"><%= final_value - start_value%></h3>
                <% } else { %>
	                <h3 style="color:red"><%= final_value - start_value%></h3>
                <% } %>
                <h1> Total Profit/Loss (%): </h1>
                <%if(percent>0){%>
	                <h3 style="color:green"><%= percent%></h3>
                <% } else { %>
	                <h3 style="color:red"><%= percent%></h3>
                <% } %>
                <form method="post" action="/start">
	                <input class="button" name="" id="test" value="new search" type="submit"/><br></br>
                </form>
                <%if(percent>0){%>
                    <img src="https://64.media.tumblr.com/0594fbd2310fb270db188b14d924366b/e90092dbb3a968f4-99/s1280x1920/8ad0a2323f3152ae84ecdc53da6af03bf828c007.png" width="700" height="600">
                <% } else { %>
                    <img src="https://64.media.tumblr.com/2a378acbad6d240f698ec9fb2e4f3c84/e90092dbb3a968f4-39/s1280x1920/3136554886c2bcf570ec2df5aa866f7669bf8804.png" width="700" height="600">
                <% } %>
				</center>		
			</div>     
		</div>
	</div>				
	</body>	
</html>
